* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bxvnkmnvmxv {
    background-color: #4d6eac;
}

.jeiwjdw li a {
    color: white;
}

.eiwui {
    color: lightgrey;
    font-weight: 600;
    font-size: 20px;
}

.iuee img {
    /* width: 100%; */
}

.dksj img {
    width: 70%;
}
.hrjh{
    transition: 1s;
}
.hrjh:hover{
    transform: scale(1.1);
}

.djejej {
    background-color: rgba(185, 183, 185, 0.937);
}

.fjeui {
    color: rgb(46, 155, 244);
}

.efejuf ul li {

    list-style: none;
}

.rijeij img {
    width: 100%;
}

.wehiu {
    color: #4d6eac;
}

.heduwj {
    color: #4d6eac;
}

.ewkhh {
    background-color: rgb(242, 245, 245);
}

.djwiw img {
    width: 100%;
}

.uwue {
    color: #4d6eac;
}

.rehjf {
    background-color: rgba(237, 243, 248, 0.859);
}
.ghsjsjd{
    transition: .9s;
}
.card{
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ghsjsjd:hover{
    transform:translatey(-10px);
}

.fekf img {
    width: 100%;

}
.ejwwj img{
    width: 100%;
}
.ewjkej li button{
    color: black;
}
.ewjkej{
    text-align: center;
}
.jhdu {
    float: right;
}

.progress {
    border-radius: 0%;
}
.card{
    height: 250px;
    border-radius: 0%;
}

/* .dkjfjk {
    padding: 50px 30px;
} */

.trhutru {
    background-image: url(https://bootstrapmade.com/demo/templates/Arsha/assets/img/cta-bg.jpg);
    background-repeat: none;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 350px;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.djdwiw button {
    width: 50%;
    height: 50px;
    font-size: large;
    border-radius: 5rem;
    border-color: white;
}


.profile-pic img {
    width: 85%;
    border-radius: 10rem;
}

.card-body h5 {
    font-weight: 700;
    color: #405d94;
}

.card-body hr {
    width: 15%;
}

.social a {
    list-style: none;
}
.kjeffij{
    width: 98%;
    height: 110%;
}
.col-lg-4 ul li {
    list-style: none;
    color: gray;
}

.wejkhjj {
    color: #3d5480;
}

.kjeffij {
    box-shadow: 0 0 24px 0 black(0, .1);
    border-top: 3px solid rgb(94, 185, 245);
    border-bottom: 3px solid rgb(94, 185, 245);
    border-radius: .2rem;
}
.card-body ul li{
    line-height: 2.6rem;
}

.fkeld img {
    width: 26%;
}

.kjfewhj {
    color: #3d5480;
}

.jdfiujdk hr {
    width: 30%;
}

.jdkskjj img {
    width: 13%;
    border-radius: 20rem;
}

.username h5 {
    color: #3d5480;
}

.ddjdj {
    color: #3d5480;
}

.dejhfjed {
    color: rgb(67, 66, 66);
    font-size: 16px;
}

.dsjhdsj {
    background-color: #f0f1f3;
}

.accordion-item {
    width: 90%;
}

.accordion-item button {
    font-weight: 750;
    color: #3d5480;
}

.kjdhweu {
    background-color: rgb(240, 238, 238);
}
.djdsh hr{
    width: 30%;
}
.fhjrjhjr {
    box-shadow: 0 0 24px 0 black(0, .1);
    border-top: 3px solid skyblue;
    border-bottom: 3px solid skyblue;
}

.ddjdjwd {
    font-size: large;
    color: #3d5480;
}

.dfjehj input {
    width: 100%;
    height: 40px;
}

.row input {
    width: 100%;
    height: 50px;
}

.message input {
    width: 100%;
    height: 200px;
}

.send-button button {
    /* margin-left: 200px; */
    padding: 12px 30px;
}
.input-group1 input{
   width: 50%;
}
.werkjhj{
    background-color: rgb(228, 236, 240);
}
.content span{
    font-size: 20px;
    font-weight: 500;
}
.content a{
    color: skyblue;
    text-decoration: none;
}
.yreqi{
    color: #3d5480;
}
.row ul li{
    list-style: none;
}
.row ul li a{
    color: gray;
    text-decoration: none;
}
